version: '2.1'

services:
  app:
    build: .
    volumes:
    - ./:/app/
    - /var/run/docker.sock:/var/run/docker.sock
    - /usr/bin/docker:/usr/bin/docker
    environment:
      - BUILDKITE
      - BUILDKITE_AGENT_ACCESS_TOKEN
      - BUILDKITE_JOB_ID
      - BUILDKITE_BUILD_ID
      - BUILDKITE_BUILD_NUMBER
      - GITHUB_RELEASE_ACCESS_TOKEN
      - DOCKER_HUB_TRIGGER_TOKEN
      - ZALENIUM_IP
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
